*.bak
*.jdi
*.log
*.rpt
*.smsg
*.summary
*.sopcinfo
*.qws
*.qdf
*.xml
*.qws.*
db/
incremental_db/
output_files/
simulation/
synthesis/
.qsys_edit/
eclipse_workspace/
.metadata/
RemoteSystemsTempFiles/
testbench/